*{
    padding: 0;
    margin: 0;
}
body{
    background:url("/img/bg.jpg");
    background-size:100%;
}
.container{
    margin-top: 10%;
    width: 33%;
    padding: 30px 30px;
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.5);;
}
.container span{
    font-size: 18px;
    color:#ffffff;
}
#register a{
 color: #ffffff;
   text-decoration: none;
}
.tips{
    margin: 0;margin-top: 10px;padding: 3px
}
.bg-warning{
    display: none;
    background: darkred;
    color: #ffffff;
}