<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>博客登录</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/register.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/js/jquery-1.9.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- 最新的 angular核心 JavaScript 文件 -->
    <!--<script src="/js/angular.js"></script>-->

</head>
<body>
<div class="container">
    <form class="form-horizontal" id="formId" >
        <div class="form-group">
            <label  class="col-sm-3 control-label">Account</label>
            <div class="col-sm-9">
                <input type="text" name="account" class="form-control"  placeholder="Account">
                <p class="text-warning tips">First word need English length is 6-12 bits</p>
                <p class="bg-warning tips">ERROR ! Account  format is not correct !</p>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" name="password" class="form-control"  placeholder="Password" >
                <p class="text-warning tips">Password need length of 6-10 bits</p>
                <p class="bg-warning tips">ERROR ! Password format is not correct!</p>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">Confirm</label>
            <div class="col-sm-9">
                <input type="password" id="confirmPassword" class="form-control"  placeholder="Confirm Password" >
                <p class="bg-warning tips">ERROR ! Passwords don't match !</p>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">Nickname</label>
            <div class="col-sm-9">
                <input type="text" name="nickName"  class="form-control"  placeholder="Nickname">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">Sex</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" name="sex" checked="checked" id="inlineRadio1" value="1"><em><strong>Man</strong></em>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" id="inlineRadio1" value="0"><em><strong>Woman</strong></em>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="button" id="Register" class="btn btn-info col-sm-8 ">Register</button>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    $(function () {

        $("input[name=account]")[0].onkeyup=function(){
            var rex=/^[a-zA-Z][a-zA-Z0-9]{5,9}$/;
            var value=$(this).val();
            if(rex.test(value)){
                $(this).closest("div").find(".bg-warning").hide();
            }else{
                $(this).closest("div").find(".bg-warning").show();
            }
        }
        $("input[name=password]")[0].onkeyup=function(){
            var value=$(this).val();
            if(value.length>10||value.length<6){
                $(this).closest("div").find(".bg-warning").show();
            }else{
                $(this).closest("div").find(".bg-warning").hide();
            }
        }
        $("#confirmPassword")[0].onkeyup=function(){
            var confirm_value=$(this).val();
            var password_value=$("input[name=password]").val();
            if(confirm_value!=password_value){
                $(this).closest("div").find(".bg-warning").show();
            }else{
                $(this).closest("div").find(".bg-warning").hide();

            }
        }
        $("input[name=password]")[0].onblur=function(){
            $("#confirmPassword")[0].focus();
        }
        $("#confirmPassword")[0].onblur=function(){
            var confirm_value=$(this).val();
            var password_value=$("input[name=password]").val();
            if(confirm_value!=password_value){
                $(this).closest("div").find(".bg-warning").show();
            }else{
                $(this).closest("div").find(".bg-warning").hide();
        }
        }
        $("#Register").click(function(){
            var account= $("input[name=account]").val();
            var confirm_value=$("#confirmPassword").val();
            var password_value=$("input[name=password]").val();

            if(!$(".bg-warning").is(":visible")&&account!==""&&confirm_value==password_value&&password_value!=""){
                 var data={
                     account: $("input[name=account]").val(),
                     password:$("input[name=password]").val(),
                     nickName:$("input[name=nickName]").val(),
                     sex:$("input[name=sex]:checked").val()
                 }
                $.post("/doRegister",data,function(data){
                   if(data=="1"){
                       alert("恭喜您，注册成功！");
                       window.location.href="/";
                   }else if(data=="0"){
                       alert("注册失败,服务器错误");
                   }else if(data=="-1"){
                       alert("用户名已经存在");
                   }
                });

         }else{
                alert("The Form fail to submit, Because has error !");
            }
        });

    });

</script>
</html>